<div class="container py-5 d-flex">
  <div class="row col-12 mx-auto justify-content-center align-self-center">
    <div class="card col-8">
      <div class="card-body">
        <div class="row" style="display: flex; justify-content: center">
          <div class="mb-3 g-2" style="display: flex; justify-content: center">
            <h5 class="card-title">URL Sortener</h5>
          </div>
          <div class="mb-3 g-2" style="display: flex; justify-content: center">
            <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
              class="img-fluid content-justify-center" alt="url-shortener">
          </div>
          <div class="mb-3 g-2">
            <h5 class="card-title">Success! Please use this link:</h5>
          </div>
          <a href="{{short_url}}">{{short_url}}</a>
          <div style="display: flex; justify-content: center">
            <button type="submit" class="btn btn-outline-primary">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>